.project-detail-card
  min-height 300px

.card-extra
  margin-top: -6px

.question-new
  color #45be95 !important

.question-processing
  color #ffbc00 !important
.question-processed
  color #5bc0de !important
.question-feedback
  color #a2d148 !important
.question-reopen
  color #8b7cc5 !important
.question-closed
  color #bedad3 !important
.question-unsolved
  color #f1494e !important


.card-tip
  padding 8px
  border 1px solid #eee
  background-color #f7f9fa


